/* CSS Styles */

html {
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  color: #000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0 8px;
}

.navigation {
  text-align: right;
}

.navigation a {
  color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  opacity: 0.6;
}

a:hover img {
  opacity: 1;
}

div {
  width: 100%;
  margin: 0 auto;
}

#logo {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 170px;
}

button {
  background-color: #f2f2f2;
  color: #757575;
  padding: 0 16px;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 2px;
  border: 1px solid #f2f2f2;
  margin: 30px 2px;
}

button:hover {
  color: #000;
  border: 1px solid #ccc;
}

#search {
  position: relative;
  text-align: center;
  margin: 30px auto;
  width: 100%;
}

#searchbar {
  width: 480px;
  height: 2.5em;
  border-radius: 2px;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 1px 1.5px #888888;
  margin: 0 auto;
  padding: 5px 15px;
}

main {
  margin: 0 auto;
}

footer {
  color: #5f6368;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(242, 242, 242);
  height: 80px;
  width: 100%
}

.footer {
  border-top: 1px solid #e4e4e4;
  padding-left: 27px;
  height: 40px;
  line-height: 35px;
}

footer a {
  color: #5f6368;
}

.country {
  font-size: 15px;
}

.footerlinks {
  display: inline;
}

.left {
  display: flex;
  padding: 0;
  float: left;
  width: 60%;
}

.right {
  display: flex;
  float: right;
  width: 30%;
}
